
.table-routes {
  // Make pseudo links
  td {
    cursor: pointer;

    color: #337ab7;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

}


.table-protocols {
  .date-since {
    white-space: nowrap;
  }
}

